<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
</head>
<body>
<!--导航嵌入-->
<div th:insert="~{navigation :: nav}"></div>

<div class="row">
    <!--左边-->
    <div class="col-lg-2 col-xs-12 col-sm-12 col-md-12 ">

    </div>
    <!--中间物品展示-->
    <div class="col-lg-8 col-xs-12 col-sm-12 col-md-12 ">

    </div>
    <!--右边-->
    <div class="col-lg-2 col-xs-12 col-sm-12 col-md-12 ">

    </div>
</div>
</body>
</html>